.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto; /* 자동 높이 조정 */
  width: 100%; /* 너비를 100%로 설정하여 화면 전체 너비로 확장 */
}

.sec {
  text-align: center;
  width: 100%; /* 섹션을 화면 전체 너비로 확장 */
}
.backbutton-section {
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 1000px 0 0;
}
.sections-container {
  display: flex; /* 가로 정렬 */
  flex-direction: row; /* 가로 방향으로 나열 */
  justify-content: space-between; /* 각 섹션 간 공간 확보 */
  align-items: flex-start; /* 모든 섹션의 시작 위치를 동일하게 설정 */
  width: 100%; /* 부모 컨테이너의 너비를 전체 화면으로 설정 */
}