.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #fff;
  border: solid 1px orange;
  color: orange;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.3rem !important;
  z-index: 2000;
  animation:
    slideIn 0.5s,
    fadeOut 0.5s 2.5s;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
